src/node_modules/
src/coverage/
src/lib/
.nyc_output
.DS_Store
.sass-cache
*.map
.idea
*.log
*.iml
junitresults.xml

# SONAR IGNORE
*.properties
.sonar
log.*
logs/*.log.*
report-*.json

**/tests/reports/*.json
**/tests/reports/*.html
**/tests/reports/assets
coverage/